@import 'motion-ui';
@import 'foundation';
@import 'settings';
@import 'variables';

@include motion-ui-transitions();
@include foundation-everything();

@import 'components/matrix';
@import 'components/picture';
@import 'components/tracks';
@import 'components/info';
@import 'components/side-bar';
@import 'components/controls';

@font-face {
	font-family: 'Conv_youthan_';
	src: url('fonts/youthan_.eot');
	src: local('☺'), url('fonts/youthan_.woff') format('woff'), url('fonts/youthan_.ttf') format('truetype'), url('fonts/youthan_.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

::selection {
  background: $primary-color;
}

body {
	text-transform: uppercase;
	font-family: 'Conv_youthan_';
}

.background canvas{
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	position: fixed;
}
