<!doctype html>
<html lang='en'>
  <head>
    <title>YAMP - {{type}}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="/js/vendor/perfect-scrollbar/perfect-scrollbar.css" />

    <script src="/js/vendor/jquery/jquery.min.js"></script>
    <script src="/js/vendor/three.js/three.min.js"></script>
    <script src="/js/vendor/foundation-sites/foundation.min.js"></script>
    <script src="/js/vendor/perfect-scrollbar/perfect-scrollbar.jquery.js"></script>
    <script src="/js/vendor/hammerjs/hammer.js"></script>
    <script src="/js/vendor/react/react.js"></script>
    <script src="/js/vendor/react/react-dom.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script type='text/javascript'>
      var socket = io.connect()
    </script>
  </head>
  <body>
    <div class="background"></div>
    <div id='yamp'></div>
    {{#if isPlayer}}
      <script src='/js/player.js'></script>
    {{/if}}
    <script src='/js/remote.js'></script>
  </body>
</html>
