<!doctype html>
<html lang='en'>
  <head>
    <title>YAMP Player</title>
    <script src='/socket.io/socket.io.js'></script>
    <script type='text/javascript'>
      var socket = io.connect()
    </script>
  </head>
  <body>
    <script src='/js/player.js'></script>
  </body>
</html>
