.picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem;
  opacity: 0.66;
  transition: all 0.75s;
  -webkit-transition: all 0.75s;

  &--selected {
    padding: 0.25rem;
    opacity: 1;
  }

  &__content {
    box-shadow: 0px 0px 10px black;
    background-size: cover;
    background-position: center center;
    height: 100%;
  }
}
