.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: $top-bar-height;
  padding-bottom: $bottom-bar-height;
  height:100%;
  overflow: hidden;
  width: $side-bar-width;
  pointer-events: none;

  &--left {
    text-align: left;
    left: 0;
    background: linear-gradient(to right, $bar-color , rgba(0, 0, 0, 0));

    .side-bar__content {
      padding-left: 10px;
    }

    .ps-scrollbar-y-rail {
      pointer-events: auto;
      left: 0px;
      right: auto; /* If using `left`, there shouldn't be a `right`. */
    }
  }

  &--right {
    text-align: right;
    right: 0;
    background: linear-gradient(to left, $bar-color , rgba(0, 0, 0, 0));

    .side-bar__content {
      padding-right: 10px;
    }

    .ps-scrollbar-y-rail {
      pointer-events: auto;
      right: 0px;
      left: auto; /* If using `left`, there shouldn't be a `right`. */
    }
  }

  .side-bar__content {
    position: relative;
    height: 100%;
    width: 100%;
  }

}
